{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Farm Stand - Login{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="container page-body">
  <h1>Login</h1>
  <hr>
  
  {% for message in get_flashed_messages() %}
  <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
  </div>
{% endfor %}
  
  {{ wtf.quick_form(form) }}
  <br/>
  <div class="new-register">
  New user? <a href="{{ url_for('auth.register') }}">Sign up</a>.
  </div>
</div>





{% endblock %}
