.farm-items {
  position: relative;
  margin: 0 auto;
  width: 540px;

}

.farm-info {
  position: relative;
  margin: 0 auto;
  clear: both;
  width: 530px;
  padding: 10px 0px 10px 45px;
}

.farm-items li{
  list-style-type: none;
  postion: relative;
  float: left;
  width: 150px;
  height: 150px;
  background-color: tomato;
  margin: 5px;
}

.farm-items li.now-title {
  background-color: SeaGreen;
  color: white;
  padding: 10px;
}

.farm-items li.available {
  background-color: DarkTurquoise;
  color: white;
  padding: 10px;
}

.farm-items li.coming-title {
  background-color: LightSteelBlue;
  color: white;
  padding: 10px;
}

.farm-items li.coming-soon {
  background-color: honeydew;
  color: RGBA(176, 196, 222, 1);
  padding: 10px;
}
