/*header styles*/
.market-header {
  background-color: tomato;
  height: 200px;
}

.market-header .farmers li{
  list-style-type: none;
  display: inline;
  height: 125px;
  margin: 10px 16px;
  background-color: green;
}
/*end of header styles*/


/*content styles*/
.crop-list {
  width: 500px;
  margin: 0 auto;
  background-color: pink;
}

.fast-sign-up {
  background-color: lightgray;
  height: 200px;
}

.fast-sign-up .sign-up-content {
  width: 500px;
  margin: 0 auto;
}
/*end of content styles*/


/*footer styles*/

/*end of footer styles*/
