/*base styles*/

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Open Sans', sans-serif;}

p {
  font-size: 16px;}

.navbar-inverse .navbar-brand {
  color: #fff;}

h3 {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;}

h4 {
  font-size: 13px;}

.border-bottom {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;}

.form-control {
  height: 40px;
  font-size: 16px;
  color: black;
  background-color: #f6fafd;
  border: 1px solid #e3e9ee;
  box-shadow: none;}

label {
  font-weight: normal;
  font-size: 16px;}

.input-buttons {
  border-top: 1px solid #eee;
  padding-top: 20px;
  margin-top: 30px;}

.btn-primary {
  background-color: blue;
  border-color: blue;
  padding: 10px 20px;
  font-size: 16px;}

h5 {
  font-weight: bold;
  font-size: 16px;}

.settings-group {
  padding-top: 10px;
  border-top: 1px solid #eee;}

.settings-group:first-of-type {
  border-top: 0px;
  padding: 0px;}

.unfilled {
  color: #aaa;
  font-style: italic;
  font-size: 13px;}

.page-body {
  padding-bottom: 20px;
  margin-top: 30px;}

.crop-list ul{
  padding: 0px;}

.crop-list li{
  list-style-type: none;
  border-bottom: 1px solid #f6f6f6;
  margin-bottom: 15px;}

.crop-list .glyphicon-plus{
  background-color: limegreen;
  color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 9px;
  padding-left: 2px;
  border-radius: 50px;
  font-size: 0.8em;}

.crop-list  .available-now .season {
  color: MediumSeaGreen;
  opacity: 0.6;}

.crop-list .price {
  color: darkgray;}

.crop-list .available-btn {
  padding: 0px 10px;}

.price {
  text-align: right;}

.add-product-box div.delete-box {
  height: 50px;
  text-align: center;
  padding-top: 15px;}

.add-product-box div.delete-box a {
  color: tomato;}

.edit-crop-button {
  color: cornflowerblue;
  font-size: 20px;}

.add-crop-button {
  font-size: 25px;}