{% extends "baseAdmin.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Add a Crop | Farm Stand{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="container page-body">
  {% if current_user %}
  <h1>Add a Crop</h1>
  <span>Which crops are available to purchase right now? Which are coming soon?</span>
  <hr>
  <form class="form" method="post" role="form">
    {{ form.hidden_tag() }}

    {{ wtf.form_field(form.name, placeholder="") }}
    {{ wtf.form_field(form.status) }}
    {{ wtf.form_field(form.price, placeholder="$ 2.00 / lb" )}}
    {{ wtf.form_field(form.starts, placeholder="i.e. January" )}}
    {{ wtf.form_field(form.ends, placeholder="i.e. March" ) }}
    <hr>
    {{ form.submit(class_='btn btn-primary')}}

  </form>

  {% endif %}
</div>

{% endblock %}
