{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Farm Stand - Edit Profile{% endblock %}

{% block content %}

<div class="crop-list">
  <div class="container">
      {% if current_user %}
        <div class="header">
          <h2>Crop List <a href="{{ url_for('.add_product', id=current_user.id) }}"><span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span></a></h2>
        </div><hr>
        <ul class="products">
          <div class="available-now">
            <h3>Available Now</h3><hr>
            {% for product in products %}
              {% if product.status == "1" %}
                <li>
                  <span class="title">{{product.name}}</span>
                  <span class="price">{{ product.price }}</span>
                  <a href="{{ url_for('.edit_product', id=product.id) }}" class="pull-right" style="color: cornflowerblue;"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                </li>
              {% endif%}
            {% endfor %}
          </div>

          <div class="coming-soon">
            <h3>Coming Soon</h3><hr>
            {% for product in products %}
              {% if product.status == "2" %}
                <li>
                  <span class="title">{{product.name}}</span>
                  <span class="price">{{ product.price }}</span>
                  <a href="{{ url_for('.edit_product', id=product.id) }}" class="pull-right" style="color: cornflowerblue;"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                </li>
              {% endif%}
            {% endfor %}
          </div>

        </ul>
      {% endif %}
  </div>
</div>

{% endblock %}
