{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Farm Stand - Edit Profile{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="container page-body">
  {% if current_user %}
    <h1>Edit Crop</h1>
    <hr>
    <form class="form" method="post" role="form">
      {{ form.hidden_tag() }}

      {{ wtf.form_field(form.name, placeholder=product.name) }}
      {{ wtf.form_field(form.status, placeholde=product.status) }}
      {{ wtf.form_field(form.price, placeholder=product.price )}}
      {{ wtf.form_field(form.starts, placeholder=product.starts )}}
      {{ wtf.form_field(form.ends, placeholder=product.ends ) }}
      <hr>
      {{ form.submit(class_='btn btn-primary')}}
      <br/><br/>
      <div class="delete-box"><p><a href="{{ url_for('.delete_product', id=product.id) }}" class="delete">Delete</a></p></div>  
    </form>
  {% endif %}
</div>

{% endblock %}
