{% extends "baseAdmin.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Edit Your Profile | Farm Stand{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="container page-body">
    <h1>Edit Your Profile</h1>
    <hr>
    <form class="form" method="post" role="form">
      {{ form.hidden_tag() }}

      {{ wtf.form_field(form.farm_name, placeholder="") }}
      {{ wtf.form_field(form.url, placeholder="") }}
      <hr>
      {{ form.submit(class_='btn btn-primary')}}
    </form>


</div>
{% endblock %}
