{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Edit Your Profile | Farm Stand{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="container">
  <div class="page-header">
    <h1>Edit Your Profile</h1>
    <hr>
    <form class="form" method="post" role="form">
      {{ form.hidden_tag() }}

      {{ wtf.form_field(form.farm_name, placeholder=current_user.farm_name) }}
      {{ wtf.form_field(form.url, placeholder=current_user.url) }}

    </form>
  </div>
  
  {{ wtf.form_field(form.submit)}}

</div>
{% endblock %}
