{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{{ wtf.quick_form(form) }}

{% block title %}Farm Stand{% endblock %}

{% block content %}
<div class="container">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
  </div>
  {% endfor %}
</div>

<div class="header-info">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1>West Sacramento Urban Farm</h1>
        <h4>
          317 5th Street, West Sacramento, CA 95605<br />
          Tuesdays and Fridays, 3pm &ndash; 7pm
        </h4>
      </div>

      <div class="col-md-3">
        <button type="button" class="btn btn-primary subscribe">Subscribe</button>
      </div>
    </div>
  </div>
</div>

<div class="container produce-list">
  <div class="row">
    <div class="col-md-8">
      <h2>Available now</h2>

      <table>
        <tbody>
          {% for product in products %}
            {% if product.status == "1" %}
              <tr>
                <td>{{product.name}}</td>
                <td class="price">{{product.price}}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>

      <h2>Coming soon</h2>

      <table class="coming-soon">
        <tbody>
          {% for product in products %}
            {% if product.status == "2" %}
              <tr>
                <td>{{product.name}}</td>
                <td class="price">{{product.price}}</td>
              </tr>
            {% endif%}
          {% endfor %}
        </tbody>
      </table>

    </ul>
  </div>
  <!-- <div>
      <h1>personas interesadas</h1>
      {% for interested in interestedpeople %}
        {{interested.name}} - {{interested.phone}} <br>
      {% endfor%}
  </div> -->
  <div class="col-md-4 participating-farmers">
    <h3>Participating Farms</h3>
      <ul>
        {% for farmer in farmers %}
          <li><a href="{{ url_for('main.profile', id=farmer.id) }}">{{ farmer.name }}</a></li>
        {% endfor %}
      </ul>
  </div>

  </div>
</div>



<div class="sign-up">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Sign up for free text updates!</h3>
        <p>Get updates on available fruits, vegetables, and pricing sent to your phone.</p>
        <form method="post" class="form-inline">
          <div class="form-group">
            {{ form.name(class_='form-control', placeholder='First Name') }}
          </div>
          <div class="form-group">
            {{ form.phone(class_='form-control', placeholder='Phone Number') }}
          </div>
            {{ form.submit(class_='btn btn-primary subscribe', value='Subscribe') }}
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
