{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{{ wtf.quick_form(form) }}

{% block title %}Farm Stand{% endblock %}

{% block content %}
<div class="market-header">
  <div class="container">
    <div class="row">
      <ul class="farmers">
        <li class="col-md-2">Sara</li>
        <li class="col-md-2">Sara</li>
        <li class="col-md-2">Sara</li>
        <li class="col-md-2">Sara</li>
        <li class="col-md-2">Sara</li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="crop-list">
    <ul class="farm-items">
      <li class="now-title">Now Available</li>

      {% for product in products %}
        {% if product.available == True %}
          <li class="available">{{product.name}}</li>
        {% endif%}
      {% endfor %}

      <li class="coming-title">Coming soon</li>

      {% for product in products %}
        {% if product.available == False %}
          <li class="coming-soon">{{product.name}}</li>
        {% endif%}
      {% endfor %}
    </ul>
  </div>
  <!-- <div>
      <h1>personas interesadas</h1>
      {% for interested in interestedpeople %}
        {{interested.name}} - {{interested.phone}} <br>
      {% endfor%}
  </div> -->

</div>

<div class="fast-sign-up">
  <div class="container">
    <div class="sign-up-content">
      <!-- any error or form related message -->
      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
      </div>
      {% endfor %}
      <h3>Sign up for free text updates!</h3>
      <p>Get updates on available fruits, vegetables, and pricing sent to your phone!</p>

      <form method="post">
        {{ form.name.label }} {{ form.name() }}
        {{ form.phone.label }} {{ form.phone() }}
        {{ form.submit() }}
      </form>

    </div>
  </div>
</div>

{% endblock %}
