{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}


{% block title %}Farm Stand{% endblock %}

{% block content %}


<div class="list-users">
  <div class="container">
    <div class="row">
      <h3>List of users</h3>
      <table class="table table-condensed">
        <tr>
          <th>id</th>
          <th>name</th>
          <th>role</th>
        </tr>
        {% for user in users %}
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.role.name}}</td>
          <td><a href="{{ url_for('.edit_user', id=user.id) }}">edit</a></td>
          <td><a href="{{ url_for('.delete_user', id=user.id) }}" class="delete"> delete </a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>



{% endblock %}
