{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Farm Stand - Edit Profile{% endblock %}

{% block content %}

<div class="container">
  <div class="page-header">
    {% if current_user %}
      {{ wtf.quick_form(form) }}

      <ul class="products" style="width: 300px;">
          {% for product in products %}
            <li>
              {{ product.name }}

                {% if product.available %}
                  <a href="{{ url_for('.update_unavailable', id=product.id) }}">available</a>
                {% else %}
                  <a href="{{ url_for('.update_available', id=product.id) }}">unavailable</a>
                {% endif %}

                  <a href="{{ url_for('.delete_product', id=product.id) }}" class="pull-right" style="color: tomato;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
            </li><br>
          {% endfor %}
      </ul>

    {% endif %}
  </div>
</div>
{% endblock %}
