{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Farm Stand - Edit Profile{% endblock %}

{% block content %}

<div class="container">
  <div class="page-header">
    {% if current_user.can(Permission.ADD_PRODUCT) %}
      {{ wtf.quick_form(form) }}
    {% endif %}
  </div>
  <ul class="posts">
      {% for product in products %}
        <li class="product">
          <div class="profile-thumbnail">
            <a href="{{ url_for('.user', username=product.farmer.username) }}">
            </a>
          </div>
          <div class="product-farmer">
            <a href="{{ url_for('.user', username=product.farmer.username) }}"> {{ product.farmer.username }}
            </a>
          </div>
        </li>
      {% endfor %}
  </ul>
</div>
{% endblock %}
