{% extends "baseAdmin.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Farm Stand - Profile{% endblock %}

{% block head %}
{{ super() }}
  <style media="screen">
    body {
      background-color: #f5f5f5;
    }
  </style>
{% endblock %}

{% block content %}

<div class="edit-profile">
  <div class="container">
    <div class="box">
      <div class="edit-profile-box">
          <h1>Fulano Profile</h1>
          <ul>
            <li>{{ farmer.name }}</li>
            <li>From <a href="http://maps.google.com/?q={{ farmer.location }}"> {{ farmer.location }}</a></li>
            <li>{{ farmer.about_me }}</li>
          </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
