{% extends "baseAdmin.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{{ wtf.quick_form(form) }}

{% block title %}Your Profile | Farm Stand{% endblock %}

{% block content %}
<div class="container">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
  </div>
  {% endfor %}
</div>

<div class="container page-body">
  <h1>Your Profile</h1>
  <span>Information about you and your farm.</span>
  <hr>
  <p><strong>E-mail Address</strong>&nbsp;&nbsp;&nbsp;{{ user.email }}</p>
  <hr>
  <p><strong>Password</strong>&nbsp;&nbsp;&nbsp;********** &nbsp;{% if user == current_user %}
  <a class="btn btn-default" href="{{ url_for('auth.changepassword', id=current_user.id) }}">Change Password</a>
  {% endif %}</p>
  <hr>
  <p><strong>Farm Name</strong>&nbsp;&nbsp;&nbsp;{{ user.farm_name }}</p>
  <hr>
  <p><strong>Website Link</strong>&nbsp;&nbsp;&nbsp;<a href="{{ user.url }}">{{ user.url }}</a></p>
  <hr>
  {% if user == current_user %}
    <a class="btn btn-primary" href="{{url_for('.edit_profile', id=current_user.id)}}">Edit Profile</a>
  {% endif %}
</div>
{% endblock %}
